<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Listado de Clienetes</h2>
            <a th:href="@{/articulo/nuevo}">Nuevo cliente</a>
            <br/>
            <br/>
            <div th:if="${ListaArticulos != null and !ListaArticulos.empty}">
                <table border="1">
                    <thead>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th>Activa</th>
                    <th colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="articulo: ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.credito.limite, 3, 2)}" style="text-align: right"></td>
                            <td th:text="${articulo.existencias}" style="text-align: center"></td> 
                            <td><input type="checkbox" name="activa" th:checked="${articulo.activo}" disabled="true"}"></td>

                            <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}">Eliminar</a></td>
                            <td><a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${ListaArticulos == null or ListaArticulos.empty}">
                No tenemos articulos que mostrar...
            </div>
            <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>