<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Artículos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Lista de Artículos</h2>
            <a th:href="@{/articulo/nuevo}">Nuevo artículo</a>
            <div th:if="${listaArticulos != null and !listaArticulos.empty}">
                <table border="1">
                    <thead>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th>Activa</th>
                    <th colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="item: ${listaArticulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}" style="text-align: right"></td>
                            <td th:text="${item.existencias}" style="text-align: center"></td> 
                            <td><input type="checkbox" name="activa" th:checked="${item.activo}" disabled="true"></td>

                            <td><a th:href="@{/articulo/eliminar/} + ${item.idArticulo}">Eliminar</a></td>
                            <td><a th:href="@{/articulo/modificar/} + ${item.idArticulo}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${listaArticulos == null or listaArticulos.empty}">
                No tenemos articulos que mostrar...
            </div>
            <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>