<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Categorías</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Lista de Categoría</h2>
            <a th:href="@{/categoria/nueva}">Nuevo Categoria</a>
            <div th:if="${listaCategorias!=null and !listaCategorias.empty}">
                <table border="1">
                    <thead>
                    <th>Descripción</th>
                    <th>Activa</th>
                    <tbody>
                        <tr th:each="item: ${listaCategorias}">
                            <td th:text="${item.descripcion}"></td>
                            <td><input type="checkbox" name="activa" th:checked="${item.activo}" disabled="true"></td>
                            <td><a th:href="@{/categoria/modificar/}+${item.idCategoria}">Modificar</a></td>
                            <td><a th:href="@{/categoria/eliminar/}+${item.idCategoria}">Eliminar</a></td>
                        </tr>
                    </tbody>
                    </thead>
                </table>
            </div>
            <div th:if="${listaCategorias==null or listaCategorias.empty}">
                <p>¡La lista esta vacía!</p>
            </div>
        </div>
            <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
