<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Lista de clientes</h2>
        <a th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <div th:if="${listaClientes!=null and !listaClientes.empty}">
            <table border="1">
                <thead>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th colspan="2">Acciones</th>
                <tbody>
                    <tr th:each="item: ${listaClientes}">
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.apellidos}"></td>
                        <td th:text="${item.correo}"></td>
                        <td th:text="${item.telefono}"></td>
                        <td><a th:href="@{/modificarCliente/}+${item.idCliente}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente/}+${item.idCliente}">Eliminar</a></td>
                    </tr>
                </tbody>
                </thead>
            </table>
        </div>
        <div th:if="${listaClientes==null or listaClientes.empty}">
            <p>¡La lista esta vacía!</p>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
